body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif; }

h1, h2, h4, nav li a {
  font-family: "Headland One", Georgia, serif; }

h1 {
  font-size: 48px;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #002e40; }

h2 {
  margin-top: 80px;
  font-size: 28px; }

h4 {
  font-size: 20px;
  margin-bottom: 10px; }

a {
  cursor: pointer; }

.nav-container {
  box-shadow: #bf9e54 1px 1px, #bf9e54 2px 2px, #bf9e54 3px 3px, #bf9e54 4px 4px, #bf9e54 5px 5px, #bf9e54 6px 6px, #bf9e54 7px 7px;
  text-align: center;
  background-color: #dbc89e;
  width: 90%;
  position: fixed;
  margin: 1% 5% 0% 5%; }

nav {
  text-align: center;
  width: 640px;
  margin: 0px auto; }
  nav ul {
    padding: 0px; }
  nav li {
    width: 24%;
    display: inline-block; }
    nav li a {
      font-size: 15px;
      color: black; }
    nav li a.active {
      color: white; }
  @media screen and (max-width: 640px) {
    nav {
      width: 90%; }
      nav li a {
        font-size: 18px; } }

section {
  background-color: #94a064;
  padding-top: 40px;
  height: 1200px;
  width: 100%; }
  section .content {
    margin: 0px auto;
    max-width: 640px; }
    @media screen and (max-width: 640px) {
      section .content {
        width: 90%; } }
    section .content a {
      color: #002e40; }

section:nth-child(odd) {
  background-color: #ff3e33;
  color: white; }
  section:nth-child(odd) a {
    color: white; }

.bottom-link {
  margin-top: 80px;
  font-style: italic; }

.gist-meta {
  display: none; }

.file-data {
  font-size: 14px; }

.right {
  float: right; }
